button.btn,
input[type='file'] {
  appearance: none;
  padding: 0.8em 1em;
  background-color: $deeppurple500;
  color: $white;
  border: none;
  border-radius: 0.5em;
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: $indigo800;
    transition: background-color 0.1s ease-in-out;
  }
}

.night {
  button.btn {
    color: $white;
    background-color: $darkmode_altbg;
  }
}
