.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background: linear-gradient(to right, $deeppurple500, $indigo500);
  color: $white;

  .container {
    display: flex;
    align-items: center;

    @include breakpoint(xs) {
      padding: 1em;
    }
  }

  h1 {
    @extend .m-0;
    flex-grow: 1;

    @include breakpoint(xs) {
      font-size: 14pt;
    }

    > a {
      box-shadow: none;
      &:hover {
        background-color: unset;
      }
    }
  }
}
