.shared-input-select {
  @extend .box-shadow;
  appearance: none;
  outline: none;
  padding: 0.8em 1em;
  font-size: 12pt;
  border-radius: 0.5em;
  cursor: pointer;
  width: 100%;
  background-color: $white;
}

.shared-input-select-icon-addon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

input[type='text'] {
  @extend .shared-input-select;
  border: 1px solid transparent;

  &:focus {
    border-color: $deeppurple500;
  }
}

select {
  @extend .shared-input-select;
  padding-right: calc(1em + 30px);
  border: 1px solid transparent;
}

.text-input-container {
  position: relative;

  input[type='text'] {
    padding-right: calc(1em + 30px);
  }

  > button {
    @extend .shared-input-select-icon-addon;
  }
}

.select-container {
  position: relative;

  > button {
    display: none;
  }

  > svg {
    @extend .shared-input-select-icon-addon;
    pointer-events: none;
  }

  &.select-container-selected {
    > svg {
      display: none;
    }

    > button {
      @extend .shared-input-select-icon-addon;
      display: block;
    }
  }
}
