.shared-input-select {
  @extend .box-shadow;
  appearance: none;
  outline: none;
  padding: 0.8em 1em;
  font-size: 12pt;
  border-radius: 0.5em;
  cursor: pointer;
  width: 100%;
}

input[type='text'] {
  @extend .shared-input-select;
  border: 1px solid transparent;

  &:focus {
    border-color: $deeppurple500;
  }
}

select {
  @extend .shared-input-select;
  padding-right: calc(1em + 30px);
  border: 1px solid transparent;
}

.select-container {
  position: relative;

  > svg {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
