.listing {
  display: flex;

  &__subreddits-list {
    padding-right: 1em;

    @include breakpoint(xs) {
      display: none;
    }

    ul {
      padding-left: 0;

      li {
        list-style: none;
      }
    }
  }


  &__submissions {
    flex-grow: 1;

    &__filter {
      display: flex;
      padding: 1em 0;

      @include breakpoint(xs) {
        flex-direction: column;

        >* {
          margin-top: 1em;
        }
      }

      &__subreddits {
        @include breakpoint(sm) {
          display: none;
        }
      }

      .clear-subreddit {
        font-size: 1.2em;
        background: $lightblue;
        margin-left: 1em;

        @include breakpoint(xs) {
          margin-left: 0;
        }
      }

      .filter-query {
        @include breakpoint(xs) {
          width: 100%;
        }
      }

    }

    .article {

      &--comment,
      &--post {
        border: 1px solid darkgray;
        border-radius: 0.5em;
        padding: 1em;
        margin: 1em 0;

        &__header {
          &__restored-badge {
            display: block;
            width: 100%;
            color: $greensea;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

        &.restored {
          border-color: $greensea;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &__footer {

          a,
          button.link-button {
            font-size: 0.8em;
            color: $gray;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &--comment {
        &__header {
          &__post-info {
            font-size: 0.8em;
          }

          &__byline {
            padding: 0.5em 0;
          }
        }
      }

      &--post {
        &__header {
          font-size: 1.2em;
        }

        &__byline {
          font-size: 0.8em;
          color: $gray;
          padding: 0.5em 0;
        }
      }
    }
  }
}




.night {

  .listing {
    &__submissions {
      &__filter {
        .clear-subreddit {
          background: $darkmode_altbg;
          color: $white;
        }
      }

      .article {

        &--post,
        &--comment {
          &.restored {
            border-color: $turquoise;
          }

          &__header {
            &__restored-badge {
              color: $turquoise;
            }
          }
        }
      }
    }
  }
}