.md {
  pre {
    white-space: pre-wrap;
  }

  blockquote {
    font-style: italic;
    color: $bluegrey700;

    @include breakpoint(xs) {
      margin: 0 1em;
    }
  }

  * {
    @include word-wrap;
  }
}
