.submission {
  @extend .p-1;
  @extend .box-shadow;
  @extend .mt-1, .mb-1;
  background-color: getColor(whitish);
  border: 1px solid $bluegrey300;
  border-left-width: 5px;
  display: grid;
  grid-template-columns: auto 80px;
  color: getColor(text);

  @include breakpoint(xs) {
    margin: 0.5em 0;
  }

  &.submission-restored {
    border-color: $indigo600;
  }

  header {
    h1,
    h3 {
      @extend .mt-half, .mb-half;
      font-weight: normal;
    }

    h3 {
      font-size: 0.8em;
      color: getColor(text-lite);
    }
  }

  aside {
    align-self: center;
    justify-self: center;
    > a {
      box-shadow: none;
      color: $bluegrey300;
      &:hover {
        background-color: unset;
        color: $bluegrey900;
      }
    }
  }

  main {
    grid-column: 1 / span 2;
  }
}
