$white: #fff;
$black: #000;

$darkmode_bg: #202020;
$darkmode_text: white;
$darkmode_altbg: #243447;

$lightmode_bg: white;
$lightmode_text: black;
$lightmode_altbg: white;

$darkblue: #406595;
$lightblue: #d2e2f6;

$lightgray: #ccc;
$gray: #787878;

$greensea: #16a085;
$turquoise: #1abc9c;