@import url('https://use.typekit.net/kbh7dhi.css');
@import url('https://fonts.googleapis.com/css?family=Spectral');

@import '_variables';
@import '_mixins';
@import '_utils';
@import '_globals';
@import 'toggleSwitch';

@import 'components/_index';

@mixin body-styling($bgcolor, $textcolor, $altbgcolor, $linkcolor) {
  background-color: $bgcolor;
  color: $textcolor;
  transition: all 0.1s ease-in-out;

  a {
    color: $linkcolor;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: europa, sans-serif;
}

body {
  @extend .m-0;
  background-color: $indigo50;
}

.main {
  margin-top: 3em;
}
